<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let order">
            <mat-checkbox [(ngModel)]="checkboxes[order.id]" (ngModelChange)="onSelectedChange(order.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
        <mat-cell *matCellDef="let order">
            <p class="text-truncate font-weight-600">
                {{order.customer.first_name}} {{order.customer.last_name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef>Start date</mat-header-cell>
        <mat-cell *matCellDef="let order">
            <p class="text-truncate font-weight-600">
                {{showDate(order.date_created_gmt)}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numItemSold">
        <mat-header-cell *matHeaderCellDef>Number of Items</mat-header-cell>
        <mat-cell *matCellDef="let order">
            <p class="text-truncate font-weight-600">{{order.num_items_sold}}</p>
        </mat-cell>
    </ng-container>

     <!-- Name Column -->
    <!-- <ng-container matColumnDef="totalSales">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let order">
            <p class="text-truncate font-weight-600">${{order.total_sales}}</p>
        </mat-cell>
    </ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="termLength">
        <mat-header-cell *matHeaderCellDef>Term length</mat-header-cell>
        <mat-cell *matCellDef="let order">
            <p class="text-truncate font-weight-600">{{getTermLength(order)}}</p>
        </mat-cell>
    </ng-container>
    <!-- Name Column -->
    
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let order">
            <p *ngIf="order.status == 'wc-processing'" class="status text-truncate h6 p-4 status" [ngClass]="'primary-100'">&nbsp;Unporeccessed&nbsp;</p>
            <p *ngIf="order.status == 'wc-approved'" class="status text-truncate h6 p-4 status" [ngClass]="'green-500'">&nbsp;Approved&nbsp;</p>
            <p *ngIf="order.status == 'wc-declined'" class="status text-truncate h6 p-4 status" [ngClass]="'warn-500'">&nbsp;Declined&nbsp;</p>
            <p *ngIf="order.status == 'wc-finalised'" class="status text-truncate h6 p-4 status" [ngClass]="'blue-grey'">&nbsp;Finalised&nbsp;</p>
        </mat-cell>
    </ng-container>
      
    <!-- Buttons Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let order">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(order.id)" aria-label="Toggle star">
                    <!--<mat-icon class="amber-fg" *ngIf="user.starred.includes(order.id)">star</mat-icon>-->
                    <mat-icon class="amber-fg">star</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="generatePaperWork(order)">
                        <mat-icon>description</mat-icon>
                        <span>Generate</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="decline(order)">
                        <mat-icon>remove_circle_outline</mat-icon>
                        <span>Decline</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let order; columns: displayedColumns;"
             class="contact"
             (click)="editOrder(order)"
             [ngClass]="{'accent-50':checkboxes[order.id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


