:host {
    .back:hover {

        cursor: pointer;
    }

    .content {
        
        form {
            width: 100%;
            max-width: 1300px !important;

            .company-name {
                margin-bottom: 25px;
                margin-top: -9px;
            }
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}