<div id="dashboard-analytics" class="page-layout blank">

    <div class="content">
        <div style="width: 100%;">

            <div fxLayout="row wrap" fxLayout.gt-md="column" style="width: 100%;">

                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <!--<div class="pb-24 font-size-18 font-weight-300" [ngClass.lt-lg]="'pt-0'" >
                        &nbsp;Unprocessed applications
                    </div>-->

                    <div class="message-box info">
                        Aplications
                    </div><br>

                    <div class="application-table">

                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h1 pr-16"></div>
                        </div>

                        <table class="simple clickable">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Order Date</th>
                                    <th>Status</th>
                                    <th class="text-right">Click</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orderList">
                                    <td>{{order.customer.first_name}} {{order.customer.last_name}}</td>
                                    <td>{{showDate(order.date_created_gmt)}}</td>
                                    <td>            
                                        <p class="status text-truncate h6 p-4 status" style="width: 87px;" [ngClass]="'orange'">&nbsp;Unprocessed&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <button mat-icon-button (click)="goToApplcation()">
                                            <mat-icon class="secondary-text s-40 green-fg">fiber_new</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="card-divider full-width"></div>

                        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent" (click)="goToApplcation()">GO TO APPLICATIONS</button>
                        </div>

                    </div>

                </div>
                <!-- / widget 9 -->

            </div>

        </div>
    </div>
    <div class="content">

        <div class="mr-lg-32">

            <div class="message-box info">
                Revenue
            </div><br>

            <!--<div class="pb-24 font-size-18 font-weight-300">
                <h3 style="color:rgb(43, 96, 194)">Revenue</h3>
            </div>-->

            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <!-- Widget 2 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="border-color: cadetblue;">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Revenue expected over<br> next 30 days</div>
                                <div *ngIf="next30 != null" class="font-size-50 red-fg font-weight-300 line-height-1 mt-8">
                                    ${{(next30.total_revenue * 100 / 100).toFixed(2)}}
                                </div>
                            </div><br>

                            
                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 20px;">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span *ngIf="next30 != null">${{(next30.total_profit * 100 / 100).toFixed(2)}}</span>
                                </div>
                               
                                <div class="ml-4 text-nowrap">of profit</div>
                            </div>

                        </div>

                        <div class="h-40 p-16 w-100-p">
                           
                        </div>

                    </div>

                </div>
                <!-- / Widget 2 -->

                <!-- Widget 3 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="border-color: cadetblue;">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Revenue expected over<br> next 60 days</div>
                                <div *ngIf="next60 != null" class="font-size-50 red-fg font-weight-300 line-height-1 mt-8">
                                    ${{(next60.total_revenue * 100 / 100).toFixed(2)}}
                                </div>
                            </div><br>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 20px;">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span *ngIf="next60 != null">${{(next60.total_profit * 100 / 100).toFixed(2)}}</span>
                                </div>
                               
                                <div class="ml-4 text-nowrap">of profit</div>
                            </div>
                        </div>

                        <div class="h-40 p-16 w-100-p">
                           
                        </div>
                    </div>

                </div>
                <!-- / Widget 3 -->

                <!-- Widget 4 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="border-color: cadetblue;">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Revenue expected over<br> next 90 days</div>
                                <div *ngIf="next90 != null" class="font-size-50 red-fg font-weight-300 line-height-1 mt-8">
                                    ${{(next90.total_revenue * 100 / 100).toFixed(2)}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 20px;">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span *ngIf="next90 != null">${{(next90.total_profit * 100 / 100).toFixed(2)}}</span>
                                </div>
                               
                                <div class="ml-4 text-nowrap">of profit</div>
                            </div>
                        </div>

                        <div class="h-40 p-16 w-100-p">
                           
                        </div>
                    </div>

                </div>
                <!-- / Widget 4 -->

                <!--active revenue-->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width" style="border-color: cadetblue;">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            
                            <div class="pr-16">
                                <div class="h3 secondary-text">Total Outstanding</div><br>
                                <div *ngIf="totalOutstanding != null" class="font-size-50 red-fg font-weight-300 line-height-1 mt-8">
                                    ${{(totalOutstanding.total_amount * 100 / 100).toFixed(2)}}
                                </div>
                            </div>
                            
                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 20px;">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span *ngIf="totalOutstanding != null">${{(totalOutstanding.total_profit * 100 / 100).toFixed(2)}}</span>
                                </div>
                               
                                <div class="ml-4 text-nowrap">of profit</div>
                            </div>
                    
                        </div>

                        <div class="h-40 p-16 w-100-p">
                           
                        </div>
                    </div>

                </div>
           
            </div>

        </div>
        
    </div>

    <div class="main-widget">

        <div class="position-relative p-24 blue-600"
             fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Revenue</span>
                <span class="h5 secondary-text">Total Revenue per month</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div *ngFor="let year of years" class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="onClick(year)"
                     [ngClass]="{'blue-700': widget1SelectedYear === year.year}">
                    {{year.year}}
                </div>
 
            </div>
        </div>

        <div class="position-relative h-200 pb-16 blue-600">
            <canvas baseChart
                    [datasets]="widgets.revenue.datasets[widget1SelectedYear]"
                    [labels]="widgets.revenue.labels"
                    [colors]="widgets.revenue.colors"
                    [options]="widgets.revenue.options"
                    [chartType]="widgets.revenue.chartType">
            </canvas>
        </div>

    </div>

    <br>


    <div class="main-widget">

        <div class="position-relative p-24 blue-600"
             fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Profit</span>
                <span class="h5 secondary-text">Total Profit per month</span>
            </div>
            <div fxLayout="row" *ngIf="years != null" fxLayoutAlign="start center">
                <div *ngFor="let year of years" class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="onClick(year)"
                     [ngClass]="{'blue-700': widget1SelectedYear === year.year}">
                    {{year.year}}
                </div>
            </div>
        </div>

        <div class="position-relative h-200 pb-16 blue-600">
            <canvas baseChart
                    [datasets]="widgets.profit.datasets[widget1SelectedYear]"
                    [labels]="widgets.profit.labels"
                    [colors]="widgets.profit.colors"
                    [options]="widgets.profit.options"
                    [chartType]="widgets.profit.chartType">
            </canvas>
        </div>

    </div>

</div>
