@import "src/@fuse/scss/fuse";

select-role {

    #forgot-password {
        width: 100%;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        #forgot-password-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #forgot-password-form {
                width: 384px;
                max-width: 384px;
                padding: 32px;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .language-button {
                    float: right;
                    margin-right: -20px;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                .courses {
                    width: 100%;
                    max-width: 1040px;
                    margin: 0 auto;
                   

                    .no-courses {
                        font-size: 24px;
                        margin: 24px 0;
                        text-align: center;
                    }
        
                    .course {
                        padding: 16px;
                        
                        &:hover {
                            
                            .course-content {
                                cursor: pointer;
                                border: none;
                                @include mat-elevation(12);
                            }
                        }
        
                        .course-content {
                            background-color: #dddbde;
                            min-height: 50px;
                            border-radius: 4px;
                            overflow: hidden;
                            transition: box-shadow 200ms ease-in-out;
                            @include mat-elevation(1);
        
                            .header {
                                padding: 16px 24px;
                                height: 64px !important;
                                min-height: 64px !important;
                                max-height: 64px !important;
        
                                &.web-bg {
                                    background: mat-color($mat-blue, 500);
                                }
        
                                &.android-bg {
                                    background: mat-color($mat-green, 500);
                                }
        
                                &.firebase-bg {
                                    background: mat-color($mat-amber, 800);
                                }
        
                                &.cloud-bg {
                                    background: mat-color($mat-blue-grey, 500);
                                }
        
                                .category {
                                    text-transform: capitalize;
                                    text-align: left;
                                    font-weight: 600;
                                    font-size: 20px;
                                    font-family: fantasy;
                                }
        
                                .length {
        
                                    .length-icon {
                                        margin-right: 8px;
                                    }
        
                                    .min {
                                        font-size: 16px;
                                    }
                                }
                            }
        
                            .content {
                                padding-bottom: 30px;
        
                                .h1 {
                                    font-size: 16px;
                                    text-align: center;
                                }
        
                                .updated {
                                    font-size: 13px;
                                    font-weight: 600;
                                    margin-top: 4px;
                                }
                            }
        
                            .footer {
                                padding: 16px;
                                height: 48px !important;
                                min-height: 48px !important;
                                max-height: 48px !important;
                                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
                            }
                        }
                    }
                }
                .login {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 600;

                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}