<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let course">
            <mat-checkbox [(ngModel)]="checkboxes[course.id]" (ngModelChange)="onSelectedChange(course.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let course">
            <img class="avatar" [alt]="course.name"
                 [src]="'assets/images/avatars/Katina.jpg'"/>
        </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="course">
        <mat-header-cell *matHeaderCellDef>Course name</mat-header-cell>
        <mat-cell *matCellDef="let course">
            <p class="text-truncate font-weight-600">{{course.basecourse.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="instructor">
        <mat-header-cell *matHeaderCellDef>Instructor name</mat-header-cell>
        <mat-cell *matCellDef="let course">
            <p class="text-truncate font-weight-600">{{course.instructor.first_name}} {{course.instructor.last_name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="season">
        <mat-header-cell *matHeaderCellDef>Season name</mat-header-cell>
        <mat-cell *matCellDef="let course">
            <p class="text-truncate font-weight-600">{{course.season.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="space">
        <mat-header-cell *matHeaderCellDef>Space name</mat-header-cell>
        <mat-cell *matCellDef="let course">
            <p class="text-truncate font-weight-600">{{course.space.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="weekday">
        <mat-header-cell *matHeaderCellDef>Weekday schedule</mat-header-cell>
        <mat-cell *matCellDef="let course">
            <p class="text-truncate font-weight-600">{{course.weekday.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="timeschedule">
        <mat-header-cell *matHeaderCellDef>Time schedule</mat-header-cell>
        <mat-cell *matCellDef="let course">
            <p class="text-truncate font-weight-600">{{course.timeschedule.name}}</p>
        </mat-cell>
    </ng-container>

    

    <!-- Buttons Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let course">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(course.id)" aria-label="Toggle star">
                    <!--<mat-icon class="amber-fg" *ngIf="user.starred.includes(course.id)">star</mat-icon>-->
                    <mat-icon class="secondary-text">star_border</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteCourse(course)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>

                    <button mat-menu-item aria-label="remove" (click)="duplicateCourse(course)">
                        <mat-icon>control_point_duplicate</mat-icon>
                        <span>Duplicate</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let course; columns: displayedColumns;"
             class="contact"
             (click)="editCourse(course)"
             [ngClass]="{'accent-50':checkboxes[course.id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


