<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text" *ngIf="this.user.active == 0" [translate]="'PROFILE.Register'">Register</span>
                <span class="secondary-text" *ngIf="this.user.active == 1" [translate]="'PROFILE.Update'">Update</span>
            </div>
            <div class="h1 mt-16" [translate]="'PROFILE.Employee'">Employee</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->
            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="collaboratorForm">
            
                <div class="h2 mb-24">
                    <div *ngIf="this.user.active == 0" [translate]="'PROFILE.EMPLOYEE.RegisterInfo'">Register Employee Information</div>
                    <div *ngIf="this.user.active == 1" [translate]="'PROFILE.EMPLOYEE.UpdateInfo'">Update Employee Information</div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.PersonalCode'">Company Personal Code</mat-label>
                        <input matInput formControlName="companyPersonalCode" (keyup.enter)="onEnterPersonalCode()" required>
                        <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                        <mat-error>Company Personal Code is required!</mat-error>
                    </mat-form-field>
                    <div fxFlex="70" class="p-12" fxLayoutAlign="center start">
                        <span *ngIf="companyName != ''" [translate]="'PROFILE.EMPLOYEE.CompanyName'">Company Name</span>
                        &nbsp; : &nbsp;&nbsp;&nbsp;
                        <span class="mat-headline company-name" [innerHtml]="companyName"></span>
                    </div>
                    
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.FirstName'">First name</mat-label>
                        <input matInput formControlName="firstName" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>First Name is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.LastName'">Last name</mat-label>
                        <input matInput formControlName="lastName" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Last Name is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.Address'">Address</mat-label>
                        <textarea matInput formControlName="address" required>
                        </textarea>
                        <mat-icon matSuffix class="secondary-text">home</mat-icon>
                        <mat-error>Address is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="33">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.Birthday'">Birthday</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="birthday" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>Brithday is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="34" class="px-8">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.Gender'">Gender</mat-label>
                        <mat-select formControlName="gender" required>
                            <mat-option [value]="0">
                                <div [translate]="'PROFILE.EMPLOYEE.Male'">Male</div>
                            </mat-option>
                            <mat-option [value]="1">
                                <div [translate]="'PROFILE.EMPLOYEE.Female'">Female</div>
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Gender is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="33">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.ZipCode'">Zip Code</mat-label>
                        <input matInput #postalCode
                               formControlName="zipCode" maxlength="5" required>
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        <mat-error>Zip Code is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label [translate]="'PROFILE.EMPLOYEE.TaxIdNumber'">Tax Identification Number</mat-label>
                        <input matInput formControlName="taxIdentificationNumber" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Tax Identification Number is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label [translate]="'PROFILE.COMMON.PhoneNumber'">Phone Number</mat-label>
                        <input matInput formControlName="phoneNumber" required>
                        <mat-icon matSuffix class="secondary-text">call</mat-icon>
                        <mat-error>Phone Number is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label [translate]="'PROFILE.COMMON.Fax'">Fax</mat-label>
                        <input matInput formControlName="fax">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">

                    <button mat-raised-button color="accent" class="submit-button" aria-label="REGISTER COMPANY" 
                    [disabled]="collaboratorForm.invalid" (click)="onRegister()">
                        <span *ngIf="this.user.active == 0" [translate]="'PROFILE.Register'">Register</span>
                        <span *ngIf="this.user.active == 1" [translate]="'PROFILE.Update'">Update</span>
                    </button>
                </div>
            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>



